.btn{
	border-radius: 0;
}

input,select,option{
	border-radius: 0!important;
}

.bg-header{
	background: url('../img/profile-03.jpg');
	width: 100%;
	height: auto;
	background-position: center;
	background-size: cover;
	padding: 15px;
	text-align: center;
	text-shadow: 1px 1px 1px #222;
	color: white;
}

